.wedding-details {
  position: relative;
  margin: 70px 10px;
}
.wedding_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
}
.fullcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.flying_image {
  position: absolute;
  width: 150px;
  top: 60%;
  transform: rotate(45deg);
  background-blend-mode: exclusion;
  opacity: 0.5;
}
.fullcontainer_cards {
  position: relative;
  width: 320px;
  height: 470px;
  margin: 30px;
  background-color: #e0e1e2;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
}

.fullcontainer_cards::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.319));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}
/* icon */
.fullcontainer_cards__icon {
  position: relative;
  width: 140px;
  height: 126px;
  background-color: #ffffff;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1), inset 0 -8px 0 #fff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
}
.fullcontainer_cards__icon::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #ffffff;
}
.fullcontainer_cards__icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #ffffff;
}
.fullcontainer_cards ion-icon {
  color: #fff;
  position: relative;
  font-size: 90px;
  --ionicon-stroke-width: 24px;
}
.heart_image {
  position: relative;
  top: -20px;
  width: 100px;
  z-index: 100;
}
.fullcontainer_cards__content {
  position: absolute;
  width: 100%;
  padding: 30px 10px;
  padding-top: 140px;
}
.fullcontainer_cards__content h2 {
  font-size: 30px;
  color: rgb(180, 17, 17);
  margin-bottom: 15px;
  margin-top: 17px;
  text-align: center;
}
.fullcontainer_cards__content p {
  color: rgb(71, 70, 70);
  line-height: 25px;
}
.fullcontainer_cards__content .wedding_data {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}
.fullcontainer_cards__content .wedding_place {
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
}
.cards_address_details {
  text-align: center;
  margin-top: 20px;
}
.cards_address_details h4 {
  margin-bottom: 15px;
  color: rgb(180, 17, 17);
  font-size: 22px;
  text-align: center;
  font-weight: 400;
}
@media (max-width: 991px) {
  .fullcontainer {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .wedding-details {
    position: relative;
    margin: 50px 10px 20px;
  }
  .fullcontainer_cards {
    margin: 30px 2px;
    width: 310px;
    height: 470px;
  }

  .fullcontainer {
    padding: 2px;
  }
  .fullcontainer_cards__content h2 {
    font-size: 26px;
    color: rgb(180, 17, 17);
  }
  .fullcontainer_cards__content .wedding_data {
    font-size: 18px;
  }
  .fullcontainer_cards__content .wedding_place {
    font-size: 17px;
  }
  .cards_address_details h4 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .fullcontainer_cards {
    margin: 30px 2px;
    width: 305px;
    height: 470px;
  }
}

@media (max-width: 300px) {
  .fullcontainer_cards {
    margin: 30px 2px;
    width: 280px;
    height: 470px;
  }
}
