@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main_container {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.loader img {
  width: 300px;
  background: transparent;
}

.homepage__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  height: 100vh;
  background: url("../images/image1.JPG");
  background-position: center;
  background-repeat: no-repeat;
  -o-background-position: center;
  -moz-background-position: center;
  -webkit-background-position: center;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: white;
}
.homepage__container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(192 190 190 / 29%);
  background-color: rgb(121 120 120 / 29%);
}
.homepage__container__imagecontainer {
  position: relative;
}
.homepage__container__imagecontainer__text {
  background-color: rgba(46, 45, 45, 0.751);
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-50%, 10%);
  padding: 15px 80px;
  border-radius: 10px;
  width: 50vw;
}
.homepage__container__imagecontainer__text h5 {
  color: rgb(228, 228, 227);
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
}
.homepage__container__imagecontainer__text p {
  color: rgb(249, 224, 2);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-family: "Dosis", sans-serif;
}
.homepage__container__imagecontainer__text .homepage__container_name {
  color: rgb(235, 232, 232);
  font-weight: 700;
  font-size: 50px;
  font-family: "Sacramento", cursive;
  text-align: left;
}
.homepage__container_name.left {
  text-align: right;
}
.heart__gifimage {
  position: absolute;
  left: 44%;
  top: 120px;
  width: 100px;
  mix-blend-mode: plus-lighter;
}
.header_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -moz-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  margin-bottom: 50px;
}
.title_name {
  color: rgb(77, 76, 76);
  text-align: center;
  font-family: "Sacramento", cursive;
  font-size: 50px;
  margin-bottom: 20px;
}
.title_name_image {
  position: absolute;
  top: 89%;
  top: 50%;
  width: 140px;
}
.title_name_image1 {
  position: absolute;
  top: 70%;
  width: 140px;
}
/* couple_details */
.couple_details {
  margin: 100px 0px;
}
.couple_flexcontainer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-justify-content: space-evenly;
  -o-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  padding: 60px 40px;
}
.couple_flexcontainer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(218, 218, 218, 0.242);
}
.couple_flexcontainer h3 {
  font-weight: 500;
  margin: 5px 0 20px 0;
  font-size: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  color: #d13e37;
}
.couple_flexcontainer p {
  color: rgba(105, 105, 105, 0.78);
  line-height: 30px;
  text-align: justify;
  font-weight: 400;
}
.couple_container_box1 {
  position: relative;
  flex-basis: 30%;
  padding: 15px 0px 0px 30px;
  text-align: right;
  border-top: 2px solid rgba(135, 135, 135, 0.41);
  border-left: 2px solid rgba(135, 135, 135, 0.369);
}
.border-shape {
  position: absolute;
  top: -4%;
  left: -7%;
}
.border-shape img {
  width: 90px;
}

.border-shape2 {
  position: absolute;
  right: -2%;
  top: -9.8%;
  transform: rotate(95deg);
}
.border-shape2 img {
  width: 90px;
}
.couple_container_box2 {
  position: relative;
  flex-basis: 30%;
  padding: 20px 10px;
}
/* top photo layout */
.couple_container_box2::before {
  content: "";
  position: absolute;
  width: 370px;
  height: 490px;
  top: 23px;
  left: 15px;
  /* background-color: rgba(61, 60, 60, 0.11);
  background-color: rgb(255 95 95 / 21%); */
  background-color: rgb(150 146 146 / 35%);
  border-radius: 10px;
  z-index: 100;
}
.couple_imagebox::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 360px;
  height: 530px;
  border: 4px solid rgb(226 196 66);
  border-radius: 2px;
}
.couple_container_box2 .couple_container_image {
  position: relative;
  width: 380px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 10;
  padding: 5px;
}

.couple_container_box3 {
  position: relative;
  flex-basis: 30%;
  padding: 10px 30px 0px 0px;
  text-align: left;
  margin-left: 0px;
  border-top: 2px solid rgba(135, 135, 135, 0.369);
  border-right: 2px solid rgba(135, 135, 135, 0.369);
}
/* couple_details Ends  */

.timer_image {
  position: relative;
  width: 100%;
  height: 550px;
  background: url("../images/image6.JPG");
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.timer-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #43434270;
}
.timer-container h2 {
  position: relative;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}

.timer-container h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: rgb(255, 253, 252);
  background-color: rgb(21, 22, 21);
  padding: 2px 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-family: "Black Ops One", cursive;
}
.timer-container__countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 75px;
}
.timer-container__countdown div {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.762);
  color: #fff;
  margin: 0 15px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  font-family: "Black Ops One", cursive;
}
.timer-container__countdown div::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: 35px;
  background-color: rgb(193 99 125);
  background-color: green;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.timer-container__countdown #day::before {
  content: "Days";
}
.timer-container__countdown #hour::before {
  content: "Hours";
}
.timer-container__countdown #minute::before {
  content: "Minutes";
}
.timer-container__countdown #second::before {
  content: "Seconds";
}

/* contact-details */
.contact-details {
  margin: 100px 50px 100px 50px;
}
.map_container {
  width: 100%;
  height: 540px;
}
.thankyou_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  display: none;
}
.thankyou_container .thankyou_container_image {
  width: 260px;
}
/* footer */
footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
}
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  flex-direction: column;
}
.footer_container p {
  color: rgb(213, 213, 213);
  padding-bottom: 5px;
}
.footer_container a {
  color: #e65a53;
  text-decoration: none;
  cursor: pointer;
  font-size: 17px;
}
.footer_container a:hover {
  color: #89ebca;
}

/* Media query */
@media (max-width: 1224px) {
  .homepage__container__imagecontainer__text {
    padding: 15px 22px;
    width: 70vw;
  }
  .couple_container_box2 .couple_container_image {
    position: relative;
    width: 333px;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
    padding: 5px;
  }
  .couple_container_box2::before {
    width: 320px;
    height: 450px;
    top: 23px;
    left: 15px;
  }
  .couple_imagebox::before {
    top: 6px;
    left: -9px;
    width: 320px;
    height: 433px;
  }
  .couple_flexcontainer {
    padding: 60px 10px;
  }
  .couple_container_box1 {
    padding: 0px 0px 0px 10px;
  }
  .couple_container_box2 {
    margin: 40px 0px;
  }

  .couple_container_box3 {
    padding: 0px 10px 0px 0px;
  }
}
@media (max-width: 991px) {
  .homepage__container__imagecontainer__gif {
    width: 300px;
  }
  .homepage__container__imagecontainer__text {
    padding: 15px 22px;
    width: 90vw;
  }
  .couple_flexcontainer {
    padding: 60px 30px;
    flex-direction: column;
  }
  .couple_container_box1 {
    text-align: center;
  }
  .couple_container_box3 {
    text-align: center;
  }
  .border-shape {
    position: absolute;
    top: -6%;
    left: -3%;
  }
  .border-shape2 {
    right: 0%;
    top: -15.6%;
    transform: rotate(90deg);
  }
  .timer-container {
    left: 0;
    right: 0;
  }
  .timer-container__countdown {
    grid-gap: 30px;
  }
  .thankyou_container {
    background-color: #fdfdfd;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 769px) {
  .couple_details {
    margin: 80px 0px 50px;
  }
  .border-shape {
    position: absolute;
    top: -6%;
    left: -4%;
  }
  .border-shape2 {
    right: 0%;
    top: -15.6%;
  }
  .footer_container p {
    font-size: 14px;
  }
  .footer_container a {
    font-size: 14px;
  }
  footer {
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .homepage__container__image {
    width: 360px;
  }
  .homepage__container_name.left {
    text-align: left;
  }
  .homepage__container__imagecontainer__gif {
    width: 300px;
    display: block;
  }
  .homepage__container__imagecontainer__text .homepage__container_name {
    margin-top: 60px;
    font-size: 34px;
    text-align: center;
  }
  .homepage__container__imagecontainer__text p {
    font-size: 23px;
  }
  .homepage__container__imagecontainer__text h5 {
    font-size: 17px;
    text-transform: uppercase;
  }
  .homepage__container_name.left {
    margin-top: 0;
  }
  .heart__gifimage {
    position: absolute;
    left: 42%;
    top: 90px;
    width: 70px;
  }
  .border-shape img {
    width: 59px;
  }
  .border-shape {
    position: absolute;
    top: -3%;
    left: -5%;
  }
  .border-shape2 {
    right: 0%;
    top: -6.6%;
    transform: rotate(90deg);
  }
  .border-shape2 img {
    width: 52px;
  }
  .couple_container_box2 .couple_container_image {
    width: 300px;
    height: 400px;
  }
  .couple_container_box2::before {
    width: 291px;
    height: 389px;
  }
  .couple_imagebox::before {
    top: 6px;
    left: -12px;
    width: 290px;
    height: 379px;
  }

  .timer-container__countdown div {
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .timer-container__countdown div::before {
    font-size: 14px;
  }
  .timer-container__countdown {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
  }
  .timer-container h3 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 17px;
  }
  .title_name_image {
    position: absolute;
    top: 89%;
    top: 43%;
    width: 130px;
  }
  .title_name {
    font-size: 40px;
  }
  .contact-details {
    margin: 50px 20px;
  }
}
@media (max-width: 400px) {
  .homepage__container__image {
    width: 300px;
  }
  .homepage__container__imagecontainer__gif {
    width: 250px;
  }
  .homepage__container__imagecontainer__text {
    padding: 15px 0px;
  }
  .homepage__container__imagecontainer__text h5 {
    font-size: 14px;
  }
  .homepage__container__imagecontainer__text p {
    font-size: 20px;
  }
  .heart__gifimage {
    position: absolute;
    left: 42%;
    top: 78px;
    width: 58px;
  }
  .homepage__container__imagecontainer__text .homepage__container_name {
    font-size: 30px;
  }
  .border-shape img {
    width: 49px;
  }
  .border-shape {
    position: absolute;
    top: -2%;
    left: -4%;
  }
  .couple_imagebox::before {
    display: none;
  }
  .couple_flexcontainer {
    padding: 60px 15px;
  }
  .couple_container_box2 {
    padding: 20px 0px;
  }
  .couple_container_box2 .couple_container_image {
    width: 290px;
    height: 400px;
  }
  .couple_container_box2::before {
    width: 281px;
    height: 389px;
    left: 5px;
    top: 25px;
  }
  .timer-container__countdown div {
    width: 80px;
    height: 75px;
    line-height: 80px;
    font-size: 20px;
  }
  .title_name {
    font-size: 33px;
  }
  .contact-details {
    margin: 50px 10px;
  }
  .thankyou_container .thankyou_container_image {
    width: 275px;
    height: 269px;
  }
}
@media (max-width: 425px) {
  .loader img {
    width: 270px;
  }
}
